

        .yellowbox{
            display: flex;
            background-color: yellow;
            height: 100px;
            justify-content: end;
            align-items: center;
            flex-direction: row;
            
        }

        .box{
            width: 30px;
            height: 30px;
            background-color: green;
            margin: 20px;


        }

        .aquabox{
           
            background-color: aqua;
            height: 300px;
            width: 400px;
            top: 20px;
            left: 20px;
            position:relative;
            
        }

        .box1{

        background-color: brown;
        position: absolute;
        right: 0px;
        bottom: 0px;
        height: 100px;
        width: 100px;

        }



