.content {}

.container1 {
    background-color: white;
    height: 100px;
    width: 100%;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 100px;

}