.content {
    padding: 100px;

}

.container1 {
    height: 540px;
    width: 100%;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid-left {
    display: grid;

}

.grid-right {
    display: grid;
}

.box {

    width: 100%;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-width: 1px;

}


.box1 {
    background-color: green;
    height: 80px;
    width: 80px;

}